<div class="container my-5">
    <div class="row mb-2">
        <div class="col-md-8 offset-md-2 header">
            <h1 class="text-white">PEOPLE DATA</h1>
            <button class="btn bt btn-warning" #bt [disabled]="indexNumber >= array.length-1" (click)="onnext()">
                Next Person 
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="row">
                    <div class="col-md-2 d-flex justify-content-center align-items-center font-weight-bold bg-success text-white s">
                        <div>{{indexNumber + 1}}</div>
                    </div>
                    <div class="col-md-10 px-0">
                        <div class="bg-primary si text-white p-2">Name : {{array[indexNumber]?.name}}</div>
                        <div class="bg-white si p-2">Location : {{array[indexNumber]?.location}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>